@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1.5;-webkit-text-size-adjust:none;/* 아이폰 사파리모바일 텍스트확대방지 */}
ol,ul{list-style:none}
blockquote,q{quotes:'none'}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:'none'}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
button{margin:0;padding:0;cursor:pointer}
legend,caption{position:absolute;top:-9999px;left:0}

/*섹션제목을 보이지않게할때 사용*/
.hid{overflow:hidden;display:block;visibility:hidden;position:absolute;width:1px;height:1px;font-size:1px;white-space:nowrap;}

/*스킵네비게이션*/
#skipNav { position:relative;}
#skipNav a {position:absolute; left:0; top:-9999px; background:#333; color:#FFF; text-align:center; z-index:9999; width:100%; font-size:12px; line-height:30px;}
#skipNav a:focus,#skipNav a:active,#skipNav a:hover {top:0;}













